<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue 폼속성 v-model 체크박스 디렉티브</title>
    <script src="./js/lib/jquery-1.12.4.min.js"></script>
    <script src="./js/vue/vue.js"></script>
    
    <style>
        body {text-align:center;}
        #app {padding-top:50px;}
        h1 {color:#3bc;font-size:40px;margin-top:50px;}
        h2 {color:#b3c;font-size:20px;margin-top:50px;}
        
        span {display:inline-block;margin:0 10px;}
        span input[type="checkbox"] {display:inline-block;width:15px;height:15px;border:1px solid #333;}

    </style>
</head>
<body>
    <h1>vue 폼속성 v-model 체크박스 디렉티브</h1>
    <div id="app">
        <div class="chk-wrap">
            <span>
                <input v-model="chk" type="checkbox" name="chk1" id="chk1" value="영화">
                <label for="chk1">영화</label>
            </span>
            <span>
                <input v-model="chk" type="checkbox" name="chk2" id="chk2" value="여행">
                <label for="chk2">여행</label>
            </span>
        </div>
        <h2>내가 좋아하는 것 : {{ chk }}</h2>
    </div>
    <script>
        const obj = new Vue({
            el:"#app",
            data:{
                chk:["여행"] //value값을 가져오기
            }
        })
    </script>
</body>
</html>